.goodsPage{
  .am-navbar-left-icon{
    >span{
      display: flex;
      line-height: 22px;
    }
  }
  .detail{
    font-size:0px;
    padding-bottom: 60px; 
  }
  .goodsName{
    background-color: #fff;
  }
  .goodsPrice{
    background-color: #fff;
  }
  .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    display: flex;
    .am-button:nth-child(1){
      background-color: #4b0;
      color: #fff;
    }
    .am-button{
      flex: 1;
      margin: 5px;
    }
  }
}